footer{
    display: flex;
    padding: 0px 0px 10px 0px;
    color: dimgrey;
    font-family: Verdana, sans-serif;
    font-size: 75%; 
    text-align: center;
    text-transform: capitalize;
}
.FootDecor img
{
	display: flex;
	width: 35px;
	height:35px;
}
.FootDecor img:hover
{
	width: 40px;
	height:40px;
}
footer a{
    text-decoration: none;
    color: dimgrey;
}