footer{
    display: flex;
    padding: 0px 0px 10px 150px;
	margin: 0px;
    color: dimgrey;
    font-family: Verdana, sans-serif;
    font-size: 75%;
	align-items: center;
    text-align: center;
	align: center;
    text-transform: capitalize;
	clear: both;
	bottom: 0;
	position: fixed;
}
.imgDecoration img:hover
{
	width: 40px;
	height:40px;
}
footer a{
    text-decoration: none;
    color: dimgrey;
}