/*Formata formularios e div*/
.form_menu2 div{
	border: 0px;
	border-radius: 3px;
}
.form_menu2 table{
	border: 0px;
	border-radius: 3px;
}
.form_menu2 input[type=text]{
	height: 20px;
	border: 0px;
	border-radius: 7px;
}
.form_menu2 input[type=date]{
	height: 20px;
	border: 0px;
	border-radius: 7px;
}
.form_menu2 input[type=number]{
	height: 20px;
	border: 0px;
	border-radius: 7px;
}
.form_menu2 input[type=email]{
	height: 20px;
	border: 0px;
	border-radius: 7px;
}
.form_menu2 input[type=email]{
	height: 20px;
	border: 0px;
	border-radius: 7px;
}
.form_menu2 input[type=password]{
	
	height: 20px;
	border: 0px;
	border-radius: 7px;
}
.form_menu2 textarea{
	border: 0px;
	border-radius: 7px;
}
.form_menu2 {
	border: 0px;
	border-radius: 7px;
}
.form_menu2 li{
	background-color: #efefef;
	display: inline-block;
	color:#FFF;
	float:0px;
	width:125px;
	height:30px;
	text-align:center;
	line-height:30px;
	font-size:25px;
}
.form_menu2 li: hover{
	display:none;
}
.form_menu2 li{
	background-color: #c8c6c6;
}
.form_menu2 li{
	border: 0px;
	border-radius: 7px;
}
.form_menu2 h3{
	color:#024631;	
}

/*FORMATACAO DOS BOTOES*/

.form_menu2 input[type=button]{
	font-family: Verdana, sans-serif;
	background-color: #024631;
	display: inline-block;
	color:#10a881;
	float:0px;
	width:125px;
	height:30px;
	text-align:center;
	font-weight:bold;
    font-size: 12px;
    text-decoration: none;
	border-radius: 3px;
	border: 0px;
}
.form_menu2 input[type=button]:hover{
	color:#318aca;
	background-color: #02281E;
	/*Botoes submit ao passar commouse por cima*/
}
.form_menu2 input[type=button]:after{
	color:#318aca;
	background-color: #02281E;
	/*Botoes submit ao clicar*/
}
.form_menu2 input[type=submit]{
	font-family: Verdana, sans-serif;
	background-color: #024231;
	display: inline-block;
	color:#10a881;
	float:0px;
	width:125px;
	height:30px;
	text-align:center;
	font-weight:bold;
    font-size: 12px;
    text-decoration: none;
	border-radius: 3px;
	border: 0px;
}
.form_menu2 input[type=submit]:hover{
	color:#318aca;
	background-color: #02281E;
	/*Botoes submit ao passar commouse por cima*/
}
.form_menu2 input[type=submit]:after{
	color:#318aca;
	background-color: #02281E;
	/*Botoes submit ao clicar*/
}
/*FORMATACAO LI*/