@import url(comum.css);
@import url(footer.css);

.read_div_usu{
	border: 0px;
	border-radius: 7px;
}
.read_div_usu input[type=submit]{
	width: 70px;
	height: 20px;
	border: 0px;
	border-radius: 7px;
}
.read_div_usu input[type=submit]:hover{
	color:#318aca;
	background-color: #c8c6c6;
	/*Botoes submit ao passar commouse por cima*/
}
.read_div_usu input[type=submit]:after{
	color:#318aca;
	background-color: #c8c6c6;
}
.form_menu input[type=text]{
	height: 20px;
	border: 0px;
	border-radius: 7px;
}
.form_menu input[type=date]{
	height: 20px;
	border: 0px;
	border-radius: 7px;
}
.form_menu input[type=number]{
	height: 20px;
	border: 0px;
	border-radius: 7px;
}
.form_menu input[type=email]{
	height: 20px;
	border: 0px;
	border-radius: 7px;
}
.form_menu input[type=email]{
	height: 20px;
	border: 0px;
	border-radius: 7px;
}
.form_menu input[type=password]{
	
	height: 20px;
	border: 0px;
	border-radius: 7px;
}
.form_menu input[type=submit]{
	width: 70px;
	height: 20px;
	border: 0px;
	border-radius: 7px;
}
.form_menu input[type=submit]:hover{
	color:#318aca;
	background-color: #c8c6c6;
	/*Botoes submit ao passar commouse por cima*/
}
.form_menu input[type=submit]:after{
	color:#318aca;
	background-color: #c8c6c6;
	/*Botoes submit ao clicar*/
}
.form_menu textarea{
	border: 0px;
	border-radius: 7px;
}
.form_menu {
	border: 0px;
	border-radius: 7px;
}
.form_menu li{
	background-color: #efefef;
	display: inline-block;
	color:#FFF;
	float:0px;
	width:125px;
	height:30px;
	text-align:center;
	line-height:30px;
	font-size:25px;
}
.form_menu li: hover{
	display:none;
}
.form_menu li{
	background-color: #c8c6c6;
}
.form_menu li{
	border: 0px;
	border-radius: 7px;
}
	
