/*Teste recursiv*/
nav {
    display: flex;
    flex-direction: column;
    align-itens: center;
}
/*FIM Teste recursiv*/

body{
    margin:60px 100px 0px 100px; 
    padding:0;
    background-color:#F8FFF0;
}
#topnav{
    display: flex;
    margin: -50px -100px 0px -100px;    
    padding: 0px 0px 10px 0px;
    background-color:#024231;
    clear:both;
    text-transform:uppercase;
}
#topnav a{
    color:#10a881;
    font-weight:bold;
    font-size: 12px;
    text-align: justify;
    text-decoration: none;
	}
#topnav ul{	
    margin: 0px 0px 0px 0px;
    list-style:none;
	padding:center;
}
#topnav ul li>ul{
	padding:0;
}
#topnav ul:after{
    display:block;
    visibility:hidden;
    height:0;
    clear:both;
    font-size:0;
    content:"";
}
#topnav li{
    float:left; 
    margin:0 0 0 0;
    border-radius: 3px;
}
#topnav a:hover{
    color:#318aca;
}
#topnav ul li:hover{
	background-color: #02281E;
}
#topnav ul li{
	background-color: #024231;
	display: inline-block;
	color:#FFF;
	float:0px;
	width:125px;
	height:30px;
	text-align:center;
	line-height:30px;
	font-size:25px;
}
#topnav ul ul{
	display:none;
}
#topnav ul li:hover > ul{
	display:block;
}
/*
.imgcontainer {
    overflow: hidden;
    max-width: 6000px;
}

.imgcontainer img {
    width: 300px;
    height: 510px;
    margin-left: 15%;
}

.imgadmin {
    overflow: hidden;
    max-width: available;
    margin: 0px -100px 0px -100px;
    background-color: white;
}

.imgadmin img {
    width: 1000px;
    height: 400px;
    margin-left: 15%;
}
*/
table{
    font-family: Verdana, sans-serif;
}
#tabhead{
    color: #318aca;
    text-align: center;
    width: 250px;
}
#tabcontent{
    color: #dbdbdb;
    text-align: justify;
}
